SPAN.title {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-weight: bold;
}

SPAN.author {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-weight: normal;
}

SPAN.availability {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace;
  font-weight: normal;
}

SPAN.author A {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-weight: normal;
}

SPAN.biblio {
  font-family: lucida, "Lucida Sans Unicode", Geneva, sans-serif;
  font-style: italic;
}

SPAN.biblio A {
  text-decoration: underline;
}

SPAN.bad {
  text-decoration: underline;
  background-color: #FDF;
}

P.l1 {
  margin-left: 0.5em;
}

P.l2 {
  margin-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

TABLE.sidebar {
  border-width: 2;
  border-color: black;
  border-style: solid;
  background-color: #CFF;
}

TD.bibtex {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace;  
  border-width: 2;
  font-weight: normal; 
  border-color: black;
  border-style: solid;
  background-color: #DFF;
}

PRE.bibtex {
  font-family: lucidatypewriter, "Lucida Typewriter", Monaco, "Lucida Sans Unicode", monospace; 
  font-size: smaller;
}
